<body class="education-body">
    <section class="education" id="education">
        <div class="max-width">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInRight">
                    <h2 class="container-heading animate-box">EDUCATION</h2>
                </div>
            </div>

            <div class="timeline-centered">
                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                    <div class="timeline-entry-inner">
                        <div class="timeline-label" style="max-width: 94.2%;">
                            <h2><b>The Cooper Union Albert Nerken School of Engineering</b></h2>
                            <p style="min-width: 31.5%;"></p>
                            <span>September 2018 - June 2019</span>
                            <ul>
                                <li>Certificate courses in C#, Java, Linux &#40;UNIX&#41; Administration, and Perl
                                    Scripting</li>
                            </ul>
                            <br>
                            <h2><b>Saint-Petersburg Electro-Technical University “LETI”</b></h2>
                            <p style="min-width: 31.5%;"></p>
                            <span></span>
                            <ul>
                                <li>Bachelor’s Degree by Information Technology</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </section>
</body>