<ngx-scrolltop [backgroundColor]="'#79a1c2'" [symbolColor]="'#fafafa'" [size]="45" [mode]="'classic'" position="right">
    <i class="fas fa-angle-up scroll-up-btn"></i>
</ngx-scrolltop>

<section class="experience" id="experience">
    <div class="max-width">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3">
                <h2 class="container-heading">PROFESSIONAL EXPERIENCE</h2>
            </div>
        </div>
        <div class="timeline-centered">

            <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                <div class="timeline-entry-inner">
                    <div class="timeline-label">
                        <h3>NYC Neighborhood Dentistry</h3>
                        <h2>Front-end Developer</h2>
                        <p style="min-width: 67%;"></p>
                        <span>May 2020 - Current</span>
                        <ul>
                            <li>• Created sample pages including color, fonts, incorporated functionalities and
                                features into a website.</li>
                            <li>• Improved front-end template using CSS and Bootstrap.</li>
                            <li>• Developed and maintained a dynamic interactive website using
                                HTML, CSS, JavaScript, and Bootstrap.</li>
                            <li>• Utilized WordPress to add administrator panel.</li>
                        </ul>
                        <br>
                        <h2>CMR Dashboard &#40;Client Medical Records&#41;</h2>
                        <ul>
                            <li>• Implemented cloud services by AWS.</li>
                            <li>• Used extensive knowledge of SCSS and JS methods for providing visual effects.</li>
                            <li>• Created an application that stores information about a client and the client's
                                whole medical history using Angular 11, Node.js, Ngrx, and Express.js.</li>
                            <li>• Cooperating with the back-end developer in the process of building the RESTful
                                API.</li>
                            <li>• Developed back-end part using Java.</li>
                        </ul>
                    </div>
                </div>
            </article>


            <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                <div class="timeline-entry-inner">
                    <div class="timeline-label">
                        <h3>Verizon</h3>
                        <h2>Full-stack Java Developer</h2>
                        <p style="min-width: 56.6%;"></p>
                        <span>December 2019 - April 2020</span>
                        <br>
                        <h2>JITR Dashboard &#40;Just-In-Time Registration&#41;</h2>
                        <ul>
                            <li>• Used ES6 JavaScript to optimize the project.</li>
                            <li>• Created dashboard with the navigation bar to retrieve data from
                                DB based on the lifecycle.</li>
                            <li>• Used Git to share my code with team members.</li>
                            <li>• Worked closely with back-end teams to analyze needs and
                                requirements.</li>
                            <li>• Collaborated in team environments following Agile practice.</li>
                            <li>• Created and edited templates using Angular JS, Angular 4/6.</li>
                            <li>• Worked on server-side using Node.js to extend available data
                                delivery methods, and processing multiple files.</li>
                        </ul>

                        <h2>One Billing Dashboard</h2>

                        <ul>
                            <li>• Crafted UI items &#40;icons, fonts, logo&#41;.</li>
                            <li>• Creating templates, widgets, and components for the company
                                website using Adobe Photoshop, MS Paint as the content
                                management system.</li>
                            <li>• Worked closely with the design team creating reusable interface
                                components.</li>
                            <li>• Checked and fixed code for leaks on Typescript.</li>
                            <li>• Refactoring old legacy code to utilize modern features.</li>
                            <li>• Used design patterns and added functionality to existing
                                applications using Java.</li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                <div class="timeline-entry-inner">
                    <div class="timeline-label">
                        <h3>Revature</h3>
                        <h2>Full-stack Java Developer</h2>
                        <p style="min-width: 56.8%;"></p>
                        <span>July 2019 - November 2019</span>
                        <ul>
                            <li>• Styled HTML to structure markup pages and CSS design.</li>
                            <li>• Familiar with the Spring ORM and hibernate tools involving
                                Connection pooling, Mappings, Transaction Management.</li>
                            <li>• Leveraged Bootstrap framework and grid system to build a
                                responsive website.</li>
                            <li>• Incorporated JavaScript to enhance web application
                                functionality.</li>
                            <li>• Created custom JQuery validation to enhance HTML.</li>
                            <li>• Employed Angular routing service to switch views within the
                                application.</li>
                            <li>• Wrote controllers to execute Angular behavior such as two-way
                                binding.</li>
                            <li>• Implemented AJAX action to get and post JSON data from web
                                services.</li>
                            <li>• Crafted custom Angular directives to expand the capabilities of
                                HTML attributes.</li>
                            <li>• Utilized unit tests with JUnit and Spring AOP.</li>
                            <li>• Applied DevOps pipelines using Jenkins and Git on AWS.</li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                <div class="timeline-entry-inner">
                    <div class="timeline-label">
                        <h3>DSM NY Corp</h3>
                        <h2>Network Engineer / Administrator</h2>
                        <p style="min-width: 51.6%;"></p>
                        <span>October 2014 - June 2019</span>
                        <ul>
                            <li>• Implemented cloud services by AWS, Google Cloud.</li>
                            <li>• Registered domain name, uploaded to hosting and maintain by
                                FileZilla.</li>
                            <li>• Diagnosed, resolved, and managed network policy, security, and
                                end-user issues.</li>
                            <li>• Improvement of network fault tolerance.</li>
                            <li>• Automation processes for Windows using PowerShell
                                &#40;command-prompt&#41;.</li>
                            <li>• Installed and maintained Microsoft Terminal Server and worked
                                with end-users by RDP & Linux server with a firewall.</li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                <div class="timeline-entry-inner">
                    <div class="timeline-label">
                        <h3>TD Veresk</h3>
                        <h2>Network Engineer / Administrator</h2>
                        <p style="min-width: 54%;"></p>
                        <span>May 2008 - June 2014</span>
                        <ul>
                            <li>• Installed and maintained Mail, SQL, and another type of servers.
                            </li>
                            <li>• Maintained & upgraded 100+ desktops &#40;Dell, HP,
                                customized&#41; as needed.</li>
                            <li>• Monitored the automated backup of users’ data and servers.</li>
                            <li>• Imaged and deployed desktops, laptops, and servers by Acronis
                                True Image.</li>
                            <li>• Writing scripts of automation for Linux on Bash and Perl.</li>
                            <li>• Set up and maintained VPN for connecting remote networks.</li>
                        </ul>
                    </div>
                </div>
            </article>

        </div>
    </div>
</section>