<section class="summary" id="summary">
    <div class="max-width">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInRight">
                <h2 class="container-heading animate-box">PROFESSIONAL SUMMARY</h2>
            </div>
        </div>
        <div class="timeline-centered">

            <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                <div class="timeline-entry-inner">
                    <div class="timeline-label" style="max-width: 94.2%;">
                        <p>I am a Software Engineer with years of experience in creating,
                            developing, and maintaining dynamic front-end applications with HTML,
                            CSS, JavaScript, Angular, and Bootstrap. Implemented server-side technologies,
                            such as Node.JS, Spring ORM, Hibernate, and Java. Introduced and expanded new
                            network technologies. Very motivated and creative personality with
                            solid working ethics.</p>
                        <!-- <div class="button-area"> -->
                        <a href="javascript:void(0)"
                            onclick="location.href='https://iprutkovsky.github.io/portfolio/Prutkovsky_Ilia.docx'">Download
                            CV
                        </a>
                        <!-- </div> -->

                    </div>
                </div>
            </article>

        </div>
    </div>
</section>