<section class="projects" id="projects">
    <div class="max-width">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInRight">
                <h2 class="container-heading animate-box">Projects</h2>
            </div>
        </div>
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <a href="https://www.braindrain.com/en" target="blank" rel="noopener noreferrer">
                        <img src="./assets/images/brain_drain.png" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <a href="https://nycdental-dds.com/" target="_blank" rel="noopener noreferrer">
                        <img src="./assets/images/neighborhood_dentistry.png" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <a href="https://femininerevival.com/" target="_blank" rel="noopener noreferrer">
                        <img src="./assets/images/feminine_revival.png" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <a href="http://volshteynlaw.com/en/" target="_blank" rel="noopener noreferrer">
                        <img src="./assets/images/volshteyn.png" alt="Card image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>