<section class="skills" id="skills">
    <div class="max-width">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <h2 class="container-heading animate-box">Skills</h2>
            </div>
            <div class="toggle">
                <input type="checkbox" id="tglBtn">
            </div>
        </div>
        <div class="row wrapper">
            <div class="row skills-field">

                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="skills-wrap">
                        <h3>Java, JDBC, Servlets, Spring</h3>
                    </div>
                </div>

                <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                    <div class="skills-wrap">
                        <h3>Database: SQL, MYSQL, OracleSQL</h3>
                    </div>
                </div>

                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="skills-wrap">
                        <h3>SPA: Angular 8 / 9 / 10, TypeScript, Angular JS</h3>
                    </div>
                </div>

                <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                    <div class="skills-wrap">
                        <h3>HTML5, CSS3, Javascript, RxJS, JQuery, Node.js</h3>
                    </div>
                </div>

                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="skills-wrap">
                        <h3>Build/Deploy: Jenkins</h3>
                    </div>
                </div>

                <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                    <div class="skills-wrap">
                        <h3>Versioning: GitHub, GitLab</h3>
                    </div>
                </div>

                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="skills-wrap">
                        <h3>Cloud: AWS, S3, GC</h3>
                    </div>
                </div>

                <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                    <div class="skills-wrap">
                        <h3>CMS: Wordpress, Sales Force Commerce Cloud</h3>
                    </div>
                </div>

            </div>
            <div class="container"></div>
        </div>
    </div>
</section>