<body>
  <nav class="navbar">
    <div class="max-width">
      <div class="logo"><a [routerLink]="['/']"><b><span class="typing"></span></b></a>
      </div>
      <ul class="menu">
        <li>
          <a [routerLink]="['/summary']" class="menu-btn">Summary</a>
        </li>
        <li>
          <a [routerLink]="['/experience']" class="menu-btn">Experience</a>
        </li>
        <li>
          <a [routerLink]="['/education']" class="menu-btn">Education</a>
        </li>
        <li>
          <a [routerLink]="['/skills']" class="menu-btn">Skills</a>
        </li>
        <li>
          <a [routerLink]="['/projects']" class="menu-btn">Projects</a>
        </li>
        <li>
          <a [routerLink]="['/contact']" class="menu-btn">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <!-- loading -->
  <div class="loader" *ngIf="loading">
    <div class="outer"></div>
    <div class="inner">
      <span>{{counter}}</span>
    </div>
  </div>

  <div class="slogan" *ngIf="comp">
    <div class="fp">
      <p>To be good at theor<b>y</b></p>
    </div>
    <div class="sp">
      <p>doesn't m<b>e</b>an </p>
    </div>
    <div class="tp">
      <p><b>T</b>o be good at coding</p>
    </div>
  </div>

</body>